
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #536F76;
    background-color: white; 
}

h1 {
    color: #536F76;
    font-size: 36px;
    text-align: center;
    padding: 50px;
}

h2 {
    color: #536F76;
    font-size: 28px;
    text-align: center;
    padding-top: 30px;
}

h3 {
    color: #536F76;
    font-size: 22px;
    text-align: center;
    padding: 10px;
}

/*header*/
.navContainer {
    background-color: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-right: 5%;
    padding-left: 5%;
    border-bottom: 1px solid #536F76;
}

.navContainer a{
    color: #536F76;
    text-decoration: none;
}

.navContainer .current a{
    font-weight: bold;  
}

.navContainer a:hover{
    font-weight: bold;   
}

.navContainer ul{
    list-style-type: none;
}

.navContainer li{
    padding: 0 20px;
    display: inline-block;
}

.navContainer input {
    width: 300px;
    height: 30px;
    color: #536F76;
    border: 1px solid #536F76;
    padding: 15px;
    border-radius: 5px;
    font-size: 15px;
}

.smallogo img {
    width: auto;
    height:30px;
    padding: 15px;
}

.nav {
    display: flex;
    align-items: center;
}

/*Forms*/

.formContainer {
    display: flex;
	flex-direction: column;
    align-items: center;
    color: #536F76;
    padding-bottom: 50px;
    border-radius: 5px;
    margin: 0 auto;
}
.formbox {
    width: 600px;
}

.formfields {
    display: flex;
	flex-direction: column;
    padding-top: 20px;
}

.formContainer h2 {
    text-align: center;
    padding: 20px;
}

.formfields input {
    border: 1px solid #536F76;
    border-radius: 5px;
    height: 30px;
    padding-left: 10px;
}

.formfields a {
    color: #536F76;
}

.check-box {
    padding-top: 20px;
}

.signin-button {
    padding: 20px;
}

.signin-link  {
    padding-top: 20px;
    font-size: 15px;
}

#signin {
    width: 200px;
    border-radius: 5px;
    border: none;
    background: #B6CACD;
    color: #536F76;
    font-size: 20px;
    height: 50px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    cursor: grab;
}


/* Main page */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: auto;
    height:400px;
    padding: 15px;
}

/*
.illustration {
    position: absolute;
    bottom: 10%;
}

.illustration img{
    display: block;
    max-width: 50%;
    height: auto;
    margin: 0 auto;
}
*/

.link-container {
    text-align: center;
    padding: 20px;
}

.link-container a {
    color: #536F76;
}

.link-container a:hover{
    font-weight: bold;   
}

/* About us page */

.about-container {
    display: flex;
	flex-direction: column;
	align-items: center;
    margin: 0 auto;
    width: 60%;
    text-align: center;
}
.about-container ul{
    list-style-type: none;
}
.tools-list {
    padding: 50px;
}
.aboutus-container {
    display: flex;
	justify-content: space-around;
	align-items: flex-start;
    padding: 30px;
}

.personalia-img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

.personalia-img img {
    box-shadow: 0px 10px 17px #536F76;
}
.personalia-container {
    width: 400px;
    text-align: center;
}
/* Admin page */

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.options li{
    padding: 20px;
    display: inline-block;
}

.options a{
    color: #536F76;
    text-decoration: none;
}

.options .current a{
    font-weight: bold;  
}

.options a:hover{
    font-weight: bold;   
}

.options ul{
    list-style-type: none;
}

/*Teachers*/
.match-box {
    width: 500px;
    border: 1px solid #536F76;
    text-align: center;
}

.match-box ul{
    list-style-type: none;
}

.match-box-image img {
    display: block;
    max-width: 20%;
    height: auto;
    margin: 0 auto;
}

.info {
    padding: 20px;
}

.match-box-inner {
    padding: 50px;
}

.request {
        width: 200px;
        border-radius: 5px;
        border: none;
        background: #A3B1B4;
        color: black;
        font-size: 20px;
        height: 50px;
        cursor: grab;
}

.teachers-grid {
    display: flex;
	flex-direction: column;
    align-items: center;
}

.removed {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 100px;
}

#createjob {
    width: 300px;
    border-radius: 5px;
    border: none;
    background: #A3B1B4;
    color: black;
    font-size: 20px;
    height: 50px;
    cursor: grab;
}

.createjob-button {
    padding: 30px;
}

.signin-button {
    padding: 30px;
}