<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Webproject</title>
      <link rel="stylesheet" href="index.css">
      <script src="../server/server.js"></script>
</head>
<body>
      <div class="sidebar">
      <div class="sidebar-underclass">
      <h1><span class="project-info"></span>Project</h1>
            </div>
      <div class="sidebar-menu">     
      <ul>
            <li><a href=""><span class ="las-laigloo"></span>
                  <span>Dashboard</span></a>
            </li>
            <li><a href=""><span class ="university"></span>
                  <span>University</span></a>
            </li>
            <li><a href=""><span class ="projects"></span>
                  <span>Projects</span></a>
            </li>
            <li><a href=""><span class ="admin"></span>
                  <span>Administrator</span></a>
            </li>
            <li><a href=""><span class ="account"></span>
                  <span>Account</span></a>
            </li>
            <li><a href=""><span class ="invite"></span>
                  <span>Invite Personnel</span></a>
            </li>
      </ul>
</div>  
</div>
 <div class="main-content">
       <header>
             <h1>
                   <label for="">
                         <span class="bar"></span>
                   </label>
                   Dashboard
             </h1>
             <div class="search-wrapper">
                   <span class="search"></span>
                   <input type="search" placeholder="Search here" />                   
             </div>
             <div class="user-wrapper"></div>
             <div>
                   <h4>John Doe</h4>
                   <small>Super Admin</small>
             </div>
             </div>
       </header>

       <main>
             <div class="cards">
            <div class="card-single">
               <div>
                    <h1>University of...</h1>
                    <span>54 tasks</span> 
               </div>   
               <div>
                     <span class="users"></span>
               </div>
            </div>    
            <div class="cards">
                  <div class="card-single">
                     <div>
                          <h1>79</h1>
                          <span>Projects</span> 
                     </div>   
                     <div>
                           <span class="users"></span>
                     </div>
                  </div>    
                  <div class="cards">
                        <div class="card-single">
                           <div>
                                <h1>University of...</h1>
                                <span>54 tasks</span> 
                           </div>   
                           <div>
                                 <span class="users"></span>
                           </div>
                        </div>    
                        <div class="cards">
                              <div class="card-single">
                                 <div>
                                      <h1>University of...</h1>
                                      <span>54 tasks</span> 
                                 </div>   
                                 <div>
                                       <span class="users"></span>
                                 </div>
                              </div>    
                              <div class="cards">
                                    <div class="card-single">
                                       <div>
                                            <h1>University of...</h1>
                                            <span>54 tasks</span> 
                                       </div>   
                                       <div>
                                             <span class="users"></span>
                                       </div>
                                    </div>    
                                    <div class="cards">
                                          <div class="card-single">
                                             <div>
                                                  <h1>University of...</h1>
                                                  <span>54 tasks</span> 
                                             </div>   
                                             <div>
                                                   <span class="users"></span>
                                             </div>
                                          </div>    
             </div>
       </main>
 </div>

 <script src="server.js"></script>
 <div>
       
 </div>

</body>
</html>      